/* You can add global styles to this file, and also import other style files */
#mainscreen{
    font-family: 'Roboto', sans-serif;
    height: 80vh;
    width: 95em;
}

@import "~ng-pick-datetime/assets/style/picker.min.css";
